.portada-busqueda{
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  font-family: var(--poppins);
  background-color: var(--color2);
  color: var(--color6);
}
.portada-busqueda_input {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}




.portada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
    padding: 1rem;
  }
  
  .portada-titulo {
    font-family: var(--dancing);
    font-weight: bolder;
    text-align: center;
    color: var(--color6);
    flex-grow: 1;
    margin: 0;
    font-size: 3.2rem;
  }
  
  .portada-menu {
    display: flex;
    align-items: center;
    color: var(--blanco);
  }
  