* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--color1: #1733B8;  
--color2: #470069;  
--color3: #7F03BB;
--color4: #BB58FF;
--blanco: white;
--negro: black;       
--poppins: 'Poppins', sans-serif;
--dancing: 'Dancing Script', cursive;
}






