* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #190019;
    --color2: #2B124C;
    --color3: #522B5B;
    --color4: #854F6C;
    --color5: #DFB6B2;
    --color6: #FBE4D8;
    --blanco: white;
    --negro: black;
    --poppins: 'Poppins', sans-serif;
    --dancing: 'Dancing Script', cursive;
}
body{
   background-color: var(--color6);
}

/*
 Estilos para celulares pequeños 
@media (max-width: 480px) {
    Agrega tus estilos aquí 
  }
  
   Estilos para celulares medianos 
  @media (min-width: 481px) and (max-width: 767px) {
     Agrega tus estilos aquí 
  }
  
   Estilos para celulares grandes 
  @media (min-width: 768px) and (max-width: 1023px) {
     Agrega tus estilos aquí 
  }
  
   Estilos para phablets 
  @media (min-width: 1024px) and (max-width: 1199px) {
     Agrega tus estilos aquí 
  }
  */