
/*HEADER*/
.header{
    text-align: center;
    background-image: url('../../assets/imagenes/imgMariposa1.jpg');
    height: 200px;
    background-position: center;
}
h1{
    color: var(--rojo1);
    padding-top: 9rem;
    text-decoration:underline;
}
/*HEADER*/

/*NAVBAR*/



/*NAVBAR*/